<header class="site-header">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <a href="/fs-journal" class="navbar-brand d-flex">
      <div class="d-flex align-items-center">
        <img src="https://codeworks.blob.core.windows.net/public/assets/img/cw-logo.png" height="45" alt="nav logo">
      </div>
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto flex-grow-1">
        <li>
          <a id="nav-journal" class="btn text-success lighten-30 selectable text-uppercase"
            href="/fs-journal/journals">Journals</a>
        </li>
        <li>
          <a id="nav-notes" class="btn text-success lighten-30 selectable text-uppercase"
            href="/fs-journal/notes">notes</a>
        </li>
      </ul>
      <div>
        <button class="btn selectable text-success lighten-30" type="button" data-bs-toggle="offcanvas" title="search"
          data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i
            class="mdi mdi-text-box-search-outline f-18"></i></button>
      </div>
    </div>
    <button class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" />
    </button>
  </nav>
</header>